body {
    background-image: url(/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div {
    background-color: #fde2b0;
    display: flex;
    border-radius: 20%;
    justify-content: center;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    position: relative;
    top: 600px;
    font-weight: 1000;
}
